.hourly-forecast-block {
  grid-area: hourly;
  display: flex;
  flex-direction: column;

  padding: 2.2rem;
  border-radius: 15px;

  max-height: 65rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.forecast-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hours-list {
  border: 1px solid red;
  height: 100%;
}

.icon {
  width: 6.2rem;
  height: 6.2rem;
}

.skeleton {
  border-radius: 15px;
  border: 1px solid #555;
  margin-bottom: 2.4rem;

  height: 6.5rem;
  background-color: #333;

  animation: 2.5s pulse ease-in infinite both;
}

/* 1360 px - SMALL LAPTOPS */
@media (max-width: 85em) {
}

/* 1200 px - LANDSCAPE TABLETS */
@media (max-width: 75em) {
}

/* 960 px - TABLETS */
@media (max-width: 60em) {
}

/* 720 px - TABLETS */
@media (max-width: 45em) {
}

/* 560 px - PHONES */
@media (max-width: 35em) {
}

/* 480 px - SMALL PHONES */
@media (max-width: 30em) {
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.35;
  }
  50% {
    opacity: 1;
  }
}
