.dashboard {
  display: grid;
  grid-template-areas:
    "main main main main hourly hourly"
    "main main main main hourly hourly"
    "metrics metrics metrics metrics hourly hourly"
    "daily daily daily daily hourly hourly"
    "daily daily daily daily hourly hourly";
  grid-template-columns: repeat(5, 8fr) 10fr;
  grid-template-rows: repeat(4, 10fr) 8fr;
  gap: 3.2rem;

  margin-top: 4.8rem;

  width: 100%;
}
