.metric {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 1rem 2rem;
  border-radius: 15px;

  background-color: rgba(255, 255, 255, 0.1);
}

.label {
  font-size: 1.8rem;
  color: #a2a2a2;

  margin: 0;
}

.data {
  margin: 0;

  font-size: 3.2rem;
  color: #a6a6a6;
}
