.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: main;

  padding: 6.4rem 2.4rem;
  border-radius: 15px;

  background-image: url("images/bg-today-large.svg");
  background-size: cover;
}

.info-block {
  display: flex;
  flex-direction: column;
}

.date {
  margin: 0;

  color: #c0c0c0;
}

.location {
  margin: 0;

  font-size: 2.6rem;
  font-weight: 500;
}
.location-details {
  margin: 0 0 2.4rem 0;

  font-size: 1.8rem;
  font-weight: 400;
}

.temperature-block {
  display: flex;
  align-items: center;
}

.weather-icon {
  height: 11rem;
  width: 11rem;

  margin-right: 1.6rem;
}
.temperature {
  font-size: 7.4rem;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.25rem;
}
